# Playwright
node_modules/
/playwright/.cache/
.playwright-mcp/

# Env files
/config/.env.*

# Reports
/playwright-report/
/test-results/

# Auth
/playwright/.auth/

# Agents
.claude/
CLAUDE.md
.github/prompts/
.github/instructions/ 
.github/copilot-instructions.md
